.container{
  width: 80%;
  margin-top: 3em;
  padding: 3em 2em;
}
.row{
  margin: 1em 2px;
}
.rowButton{
  display:flex;
  justify-content: space-between;
}
.right_button{
  display:flex;
  justify-content: flex-end;
}

.modalButton{
  display:flex;
  justify-content: center;
}

.svgWrapper{
  width: 20%;
}
.header{
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: center;
}